body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: #fff;
}

main {
  /* height: 75vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  background-color: blue;
  color: #fff;
  position: relative;
  bottom: 0;
}